In [50]:
import pandas as pd
import xlrd
stu_inf = pd.read_csv('./student.csv',encoding = 'gb18030')
stu_inf.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,G
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,5
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,5
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,8
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,8

In [8]:
stu_inf.shape

(1044, 33)

In [51]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
stu_inf['school'] = le.fit_transform(stu_inf['school'])
stu_inf['age'] = le.fit_transform(stu_inf['age'])
stu_inf['sex'] = le.fit_transform(stu_inf['sex'])
stu_inf['address'] = le.fit_transform(stu_inf['address'])
stu_inf['famsize'] = le.fit_transform(stu_inf['famsize'])
stu_inf['Pstatus'] = le.fit_transform(stu_inf['Pstatus'])
stu_inf['Mjob'] = le.fit_transform(stu_inf['Mjob'])
stu_inf['Fjob'] = le.fit_transform(stu_inf['Fjob'])
stu_inf['reason'] = le.fit_transform(stu_inf['reason'])
stu_inf['guardian'] = le.fit_transform(stu_inf['guardian'])
stu_inf['schoolsup'] = le.fit_transform(stu_inf['schoolsup'])
stu_inf['famsup'] = le.fit_transform(stu_inf['famsup'])
stu_inf['paid'] = le.fit_transform(stu_inf['paid'])
stu_inf['activities'] = le.fit_transform(stu_inf['activities'])
stu_inf['nursery'] = le.fit_transform(stu_inf['nursery'])
stu_inf['higher'] = le.fit_transform(stu_inf['higher'])
stu_inf['internet'] = le.fit_transform(stu_inf['internet'])
stu_inf['romantic'] = le.fit_transform(stu_inf['romantic'])

stu_inf.head(20)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,G
0,0,0,3,1,0,0,4,4,0,4,...,3,4,1,1,3,6,5,6,6,5
1,0,0,2,1,0,1,1,1,0,2,...,3,3,1,1,3,4,5,5,6,5
2,0,0,0,1,1,1,1,1,0,2,...,3,2,2,3,3,10,7,8,10,8
3,0,0,0,1,0,1,4,2,1,3,...,2,2,1,1,5,2,15,14,15,14
4,0,0,1,1,0,1,3,3,2,2,...,3,2,1,2,5,4,6,10,10,8
5,0,1,1,1,1,1,4,3,3,2,...,4,2,1,2,5,10,15,15,15,15
6,0,1,1,1,1,1,2,2,2,2,...,4,4,1,1,3,0,12,12,11,11
7,0,0,2,1,0,0,4,4,2,4,...,1,4,1,1,1,6,6,5,6,5
8,0,1,0,1,1,0,3,2,3,2,...,2,2,1,1,1,0,16,18,19,17
9,0,1,0,1,0,1,3,4,2,2,...,5,1,1,1,5,0,14,15,15,14
10,0,0,0,1,0,1,4,4,4,1,...,3,3,1,2,2,0,10,8,9,9
11,0,0,0,1,0,1,2,1,3,2,...,2,2,1,1,4,4,10,12,12,11
12,0,1,0,1,1,1,4,4,1,3,...,3,3,1,3,5,2,14,14,14,14
13,0,1,0,1,0,1,4,3,4,2,...,4,3,1,2,3,2,10,10,11,10
14,0,1,0,1,0,0,2,2,2,2,...,5,2,1,1,3,0,14,16,16,15
15,0,0,1,1,0,1,4,4,1,2,...,4,4,1,2,2,4,14,14,14,14
16,0,0,1,1,0,1,4,4,3,3,...,2,3,1,2,2,6,13,14,14,13
17,0,0,1,1,0,1,3,3,2,2,...,3,2,1,1,4,4,8,10,10,9
18,0,1,2,1,0,1,3,2,3,3,...,5,5,2,4,5,16,6,5,5,5
19,0,1,1,1,1,1,4,3,1,2,...,1,3,1,3,5,4,8,10,10,9

In [62]:
import re
import nltk

# label = list(stu_inf['G']//10)
label = list(stu_inf['G']//5)
label[2]

1

In [63]:
attribute=[]
attribute = stu_inf.columns
attribute[2]

'age'

In [64]:
x=['G1','G2','G3','G']
featuresets = stu_inf.drop(stu_inf[x],axis=1)

featuresets.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,0,0,3,1,0,0,4,4,0,4,...,1,0,0,4,3,4,1,1,3,6
1,0,0,2,1,0,1,1,1,0,2,...,1,1,0,5,3,3,1,1,3,4
2,0,0,0,1,1,1,1,1,0,2,...,1,1,0,4,3,2,2,3,3,10
3,0,0,0,1,0,1,4,2,1,3,...,1,1,1,3,2,2,1,1,5,2
4,0,0,1,1,0,1,3,3,2,2,...,1,0,0,4,3,2,1,2,5,4

In [65]:
from sklearn.model_selection import train_test_split
text_train,text_test,labels_train,labels_test=train_test_split(featuresets,label,test_size=0.25,random_state=123)
text_train.head()
# labels_train

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
1017,1,1,3,0,0,1,1,3,0,2,...,1,0,0,3,3,4,2,4,3,0
936,1,0,2,0,0,1,2,2,2,2,...,1,0,0,5,1,3,1,1,5,0
792,0,0,2,1,0,0,2,2,0,0,...,1,1,1,3,3,1,1,2,4,18
91,0,0,0,1,0,1,4,3,3,2,...,1,1,0,4,5,5,1,3,1,4
170,0,1,1,1,0,1,3,4,2,2,...,1,1,0,3,4,5,2,4,2,0

In [66]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB
clf1=GaussianNB()
clf2=MultinomialNB()
clf1.fit(text_train,labels_train)
clf2.fit(text_train,labels_train)
#pre=clf1.predict(text_test)
print("GaussianNB :{}".format(clf1.score(text_test,labels_test)))
print("MultinomialNB :{}".format(clf2.score(text_test,labels_test)))

GaussianNB :0.30268199233716475
MultinomialNB :0.5402298850574713